//- Все примеси в этом файле должны начинаться c имени блока (filter-popup)

mixin filter-popup(arrText, mods)
  .filter-popup&attributes(attributes)
    .filter-popup__wrapper
      button.filter-popup__close
        svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
          rect(x='4' y='27' width='32' height='2' transform='rotate(-45 4 27)' fill='#49AC32')
          rect(x='5' y='4' width='32' height='2' transform='rotate(45 5 4)' fill='#49AC32')
      .filter-popup__title Показывать
      .filter-popup__inner
        each value, index in arrText
          if index == 0
            .filter-popup__item.selected= value
          else
            .filter-popup__item= value
        
        
