//- Все примеси в этом файле должны начинаться c имени блока (breadcrumbs)

mixin breadcrumbs(arr, mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' breadcrumbs--' + modsList[i].trim();
      }
    }

  ul.breadcrumbs(class=allMods)&attributes(attributes)
    each value in arr
      li
        a(href="")= value 
