// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.breadcrumbs {
  $block-name: &; // #{$block-name}__element
  margin-top: 40px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  gap: 40px;
  @media (max-width: 991px) {
    margin-top: 18px;
  }
  li {
    @media (max-width: 991px) {
      padding-left: 28px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2144 4L4 11M4 11L11.2144 18M4 11L20 11' stroke='%2349AC32'/%3E%3C/svg%3E%0A");
      background-position: center left;
      background-repeat: no-repeat;
      &:not(:last-child) {
        display: none;
        &:before {
          content: none;
        }
      }
    }
    &::before {
      content: none;
    }
    &:not(:first-child):before {
      content: "";
      left: -22px;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(168, 195, 234, 0.5);
      border-radius: 50%;
    }
    a {
      @include s3;
      color: $f-primary;
    }
  }
}
