//- Все примеси в этом файле должны начинаться c имени блока (alert)

mixin alert(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +alert('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' alert--' + modsList[i].trim();
      }
    }

  .alert(class=allMods)&attributes(attributes)
    .alert__inner
      button.alert__close
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="2" y="13.5" width="15.9997" height="0.999984" transform="rotate(-45 2 13.5)" fill="white"/>
          <rect x="2.5" y="2" width="15.9997" height="0.999984" transform="rotate(45 2.5 2)" fill="white"/>
        </svg>
      a(href="").alert__link
        span Скидка 5% на ингаляционную анестезию в Центре хирургии «Персона»
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.8693 21.375L21 12M21 12L11.8693 2.625M21 12L0.75 12" stroke="white" stroke-width="2"/>
        </svg>


