// В этом файле должны быть стили для БЭМ-блока clinic, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.lending {
  $block-name: &; // #{$block-name}__element

  h2 {
    @include h2;
    grid-column: 4 / 6 span;
    margin-bottom: 40px;
    @media (max-width: 1600px) {
      grid-column: 4 / 7 span;
    }
    @media (max-width: 1025px) {
      grid-column: 3 / 8 span;
      margin-bottom: 24px;
    }
    @media (max-width: 990px) {
      grid-column: 2 / 6 span;
      margin-bottom: 24px;
    }
    @media (max-width: 599px) {
      grid-column: 1 / 8 span;
    }
    span {
      color: $f-primary;
      margin-bottom: 32px;
    }
  }
  p {
    grid-column: 4 / 6 span;
    margin: 0;
    @media (max-width: 1600px) {
      grid-column: 4 / 6 span;
    }
    @media (max-width: 1025px) {
      grid-column: 3 / 8 span;
    }
    @media (max-width: 990px) {
      grid-column: 2 / 6 span;
    }
    @media (max-width: 559px) {
      grid-column: 1 / 8 span;
    }
  }
  ul {
    padding-left: 26px;
    grid-column: 1 / 8 span;
    @media (min-width: 559px) {
      grid-column: 2 / 5 span;
    }
    @media (min-width: 991px) {
      grid-column: 3 / 9 span;
    }
    @media (min-width: 1024px) {
      margin-bottom: 16px;
    }
    @media (min-width: 1600px) {
      grid-column: 4 / 6 span;
      margin: 0;
      margin-bottom: 45px;
    }

    li {
      @include p3;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      &::before {
        border-radius: 100%;
      }
    }
  }
  .link {
    grid-column: 4 / 6 span;
    @include s2;
    margin-top: 40px;
    @media (max-width: 1025px) {
      grid-column: 3 / 8 span;
    }
    @media (max-width: 990px) {
      grid-column: 2 / 5 span;
      margin-top: 20px;
    }
    @media (max-width: 559px) {
      grid-column: 1 / 8 span;
      margin-top: 16px;
    }
    svg path {
      fill: $ui-primary;
    }
  }
  &__banner {
    position: sticky;
    top: 0;
    z-index: 1;

    @include container;

    background-color: $ui-light;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 333px;
    @media (min-width: 600px) {
      height: 420px;
    }
    @media (min-width: 991px) {
      height: 640px;
    }
    @media (min-width: 1366px) {
      height: 768px;
    }

    @media (max-width: 991px) {
      background-position: 20% bottom;
    }
    &.hidden {
      z-index: -1;
      visibility: hidden;
    }
    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 560px;
      background: linear-gradient(
        180deg,
        rgba(0, 8, 49, 0) 0%,
        rgba(0, 8, 49, 0.6) 100%
      );
    }
    h1 {
      @include h1;
      color: $f-white;
      align-self: end;
      margin-bottom: 20px;
      grid-column: 1 / 6 span;
      z-index: 1;

      @media (min-width: 1366px) {
        grid-column: 4 / 5 span;
        margin-bottom: 60px;
      }
      @media (min-width: 1024px) {
        margin-bottom: 48px;
      }
      @media (min-width: 991px) {
        grid-column: 3 / 5 span;
      }
      @media (min-width: 600px) {
        margin-bottom: 20px;
        grid-column: 2 / 5 span;
      }
    }
  }
  &__inner {
    position: relative;
    background-color: $ui-light;
    clip-path: inset(0 0 0 0);

    @include container;
    padding-top: 80px;
    z-index: 999;
    @media (max-width: 991px) {
      padding-top: 40px;
      padding-bottom: 40px;
      grid-template-columns: repeat(8, 1fr);
      gap: 0px;
    }
    @media (max-width: 600px) {
      padding-top: 24px;
      padding-bottom: 0;
    }
  }
  &-clinic__number {
    position: relative;
    overflow: hidden;
    width: fit-content;
    @include font(96px, 96px, 400);

    grid-column: 1 / 8 span;
    @media (min-width: 600px) {
      @include font(170px, 170px, 400);
      height: 170px;
      grid-column: 2 / 11 span;
    }
    @media (min-width: 1024px) {
      @include font(270px, 348px, 400);
      height: 308px;
    }
    @media (min-width: 1366px) {
      @include font(376px, 485px, 400);
      height: 445px;
    }
    @media (min-width: 1601px) {
      grid-column: 3 / 9 span;
      height: 514px;
      @include font(430px, 554px, 400);
    }

    &-text {
      background-color: #f2f6ff;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      mix-blend-mode: lighten;
      white-space: nowrap;
      span:first-child {
        margin-right: 0.15em;
      }
    }
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    & + p.h1 {
      margin-bottom: 40px;
      @media (max-width: 991px) {
        margin-top: 0;
        margin-bottom: 24px;
      }
    }
  }
  &-clinic__mid-number {
    grid-column: 3 / 8 span;
    @include h1;
    display: flex;
    align-items: end;
    margin: 160px 0 80px;
    justify-content: center;
    gap: 40px;
    @media (max-width: 991px) {
      gap: 25px;
      margin: 60px 0 40px;
      grid-column: 2 / 6 span;
    }
    @media (max-width: 600px) {
      gap: 8px;
    }
    span {
      @include font(140px, 96px, 300);
      @media (min-width: 991px) {
        @include font(376px, 485px, 300);
      }
      @media (min-width: 1024px) {
        @include font(430px, 300px, 300);
      }
    }
    p {
      width: min-content;
    }
  }
  &-clinic__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    grid-column: 2 / 10 span;
    margin-bottom: 180px;
    @media (min-width: 1024px) {
      gap: 20px;
      margin-bottom: 260px;
    }

    @media (max-width: 1024px) {
      grid-column: 1 / 12 span;
    }
    @media (max-width: 991px) {
      grid-column: 1 / 8 span;
    }
    img {
      box-shadow: 0px 40px 100px 0px #d8e3fd;
      height: 100%;
    }
    &-left,
    &-right {
      display: grid;
      align-content: center;
      position: relative;
      z-index: 1;
      grid-template-columns: repeat(4, 1fr);
      gap: 8px;
      @media (min-width: 1024px) {
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
      }
      .lending-clinic__images-block__img {
        &:first-child {
          grid-row: 1;
          grid-column: 4 span;
        }
        &:last-child {
          grid-row: 2;
          grid-column: 4 span;
        }
      }
    }
    &-left {
      .lending-clinic__images-block__img {
        &:first-child {
          @media (min-width: 1024px) {
            grid-column: 5 span;
          }
        }
        &:last-child {
          @media (min-width: 600px) {
            grid-column: 2 / 3 span;
          }
          @media (min-width: 1024px) {
            grid-column: 3 / 3 span;
          }
        }
      }
    }
    &-right {
      bottom: -120px;
      .lending-clinic__images-block__img {
        &:first-child {
          @media (min-width: 600px) {
            grid-column: 1 / 3 span;
          }
          @media (min-width: 1024px) {
            grid-column: 3 span;
          }
        }
        &:last-child {
          @media (min-width: 1024px) {
            grid-column: 5 span;
          }
        }
      }
    }
  }
  &-clinic__images + p + .link {
    margin-bottom: 120px;
    @media (max-width: 991px) {
      margin-bottom: 80px;
    }
    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }
  &-clinic__wrapper {
    grid-column: 2 / 10 span;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin-top: 70px;
    margin-bottom: 60px;
    @media (max-width: 1366px) {
      gap: 60px;
    }
    @media (max-width: 1024px) {
      grid-column: 1 / 12 span;
      gap: 20px;
    }
    @media (max-width: 991px) {
      grid-column: 1 / 8 span;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    #{$block-name} {
      &-clinic__item {
        @media (max-width: 600px) {
          display: grid;
          grid-template-columns: repeat(8, 1fr);
          gap: 8px;
          gap: 0 20px;
        }
        &:nth-child(2).observer.animation {
          animation-delay: 0.1s;
        }
        &:nth-child(3).observer.animation {
          animation-delay: 0.2s;
        }
      }
      &-clinic__icon {
        margin-bottom: 8px;
        @media (max-width: 600px) {
          grid-column: 2 span;
          grid-row: 2 span;
        }
      }
      &-clinic__title {
        @include h3;
        color: $f-primary;
        @media (max-width: 600px) {
          grid-column: 3 / 6 span;
        }
      }
      &-clinic__desc {
        @include s3;
        @media (max-width: 600px) {
          grid-column: 3 / 6 span;
        }
      }
    }
  }
  &-clinic__licence {
    grid-column: 12 span;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    margin-top: 200px;
    margin-bottom: 160px;
    overflow: hidden;
    @media (max-width: 991px) {
      position: relative;
      grid-template-columns: repeat(8, 1fr);
      gap: 8px;
      grid-column: 1 / 8 span;
      margin-top: 80px;
      margin-bottom: 80px;
    }
    @media (max-width: 600px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .link {
      width: 100%;
      margin-top: 24px;
    }
    &-content {
      grid-column: 7 span;
      @media (max-width: 991px) {
        grid-column: 5 span;
      }
      @media (max-width: 600px) {
        grid-column: 8 span;
      }
    }
    &-img {
      grid-column: 8 / 5 span;
      @media (max-width: 991px) {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 265px;
        height: 265px;
        z-index: -1;
      }
      @media (max-width: 600px) {
        width: 240px;
        height: 240px;
        top: 60px;
        right: 0;
        transform: none;
      }
      img {
        width: 100%;
      }
    }
    &-title {
      @include h1;
      margin-bottom: 24px;
      @media (max-width: 600px) {
        margin-bottom: 200px;
      }
    }
    &-desc {
      @include p2;
    }
  }
  &__template {
    @include container;
    grid-column: 12 span;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(242, 246, 255, 0.95)),
        to(rgba(242, 246, 255, 0.95))
      )
      no-repeat;
    padding: 0 !important;
    @media (min-width: 991px) {
      padding-bottom: 100px !important;
    }
    &-title {
      position: sticky;
      top: calc(126px + 32px);
      grid-column: 6 span;

      @media (max-width: 1366px) {
        grid-column: 7 span;
      }
      @media (max-width: 991px) {
        margin-bottom: 0;
        position: static;
      }
    }
    &-bottom {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column: 12 span;
      grid-gap: 20px;
      position: relative;
      background: inherit;
      margin-top: 24px;
      @media (min-width: 600px) {
        margin-top: 40px;
      }
      @media (min-width: 1600px) {
        margin-top: 80px;
      }
      @media (max-width: 991px) {
        grid-column: 8 span;
        grid-template-columns: repeat(8, 1fr);
        gap: 8px;
      }
      &::before {
        position: absolute;
        content: "";
        top: -80px;
        left: 0;
        width: 100%;
        height: 80px;
        transform: rotate(-180deg);
        background: linear-gradient(
          180deg,
          rgba(242, 246, 255, 0.95),
          rgba(242, 246, 255, 0.9) 52.87%,
          rgba(242, 246, 255, 0) 95%
        );
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        @media (max-width: 1024px) {
          content: none;
        }
      }
    }
    &-desc {
      @include p2;
      grid-column: 4 span;
      height: max-content;
      @media (max-width: 1024px) {
        grid-column: 12 span;
      }
      @media (max-width: 991px) {
        grid-column: 1 / 8 span;
      }
    }
    &-aside {
      grid-column: 4 span;
      position: sticky;
      bottom: 70px;
      -ms-grid-row-align: end;
      align-self: end;
      z-index: 999;
      @media (max-width: 1024px) {
        position: static;
        margin-bottom: 24px;
        grid-row: 1;
      }
      @media (max-width: 991px) {
        grid-column: 8 span;
      }
      .link {
        @include s1;
        @media (max-width: 1024px) {
          margin-top: 16px;
        }
      }
    }
    &-content {
      background-color: $ui-white;

      z-index: 1;
      box-shadow: 0 32px 80px #d8e3fd;
      grid-column: 1 / 8 span;
      @media (max-width: 991px) {
        margin-bottom: 16px;
        margin: 0 -16px;
      }
      @media (min-width: 991px) {
        grid-column: 1 / 12 span;
      }
      @media (min-width: 1024px) {
        grid-column: 5 / 8 span;
        margin-bottom: 0;
      }
    }
    .detail__inner {
      p {
        margin: 18px 0;
      }
    }
    .detail__link-all {
      .link {
        margin-top: 0;
      }
    }
  }
  .observer {
    opacity: 0;
    &.animation {
      animation: fadeInUp 1s forwards;
      animation-delay: 0s;
      animation-timing-function: $transitionTime;
    }
  }
  &-infographics {
    grid-column: 12 span;
    margin-bottom: 80px;
    @media (max-width: 991px) {
      grid-column: 8 span;
      margin-bottom: 40px;
    }
    @media (max-width: 600px) {
      grid-column: 8 span;
      margin-bottom: 24px;
    }
    .green {
      color: $f-primary;
      .progress {
        background-color: $f-primary;
      }
      .line {
        span {
          background-color: $f-primary;
        }
      }
    }
    .grey {
      color: #8e8e8e;
      .progress {
        background-color: #8e8e8e;
      }
      .line {
        span {
          background-color: #8e8e8e;
        }
      }
    }
    &__wrapper {
      overflow-x: auto;
      @media (max-width: 600px) {
        margin: 0 -16px;
        padding: 0 16px;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__inner {
      @media (max-width: 600px) {
        width: 700px;
      }
    }
    &__title {
      @include h1;
      grid-column: 1 / 6 span;
      margin-top: 40px;
      margin-bottom: 24px;
      @media (min-width: 600px) {
        grid-column: 2 / 6 span;
        margin-top: 80px;
        margin-bottom: 40px;
      }
      @media (min-width: 991px) {
        grid-column: 2 / 10 span;
      }

      @media (min-width: 1600px) {
        grid-column: 2 / 8 span;
        margin-top: 120px;
        margin-bottom: 80px;
      }

      span {
        color: $f-primary;
      }
    }
    &__inner {
    }
    &__popup {
      &.active {
        @media (max-width: 991px) {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $ui-white;
          z-index: 9999;
        }
      }

      span {
        position: absolute;
        content: "";
        z-index: 10;
        @media (min-width: 991px) {
          bottom: 100%;
          left: 50%;

          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-bottom: 16px solid $ui-light2;
        }
        @media (max-width: 991px) {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='18.3633' y='4.22168' width='2' height='20' transform='rotate(45 18.3633 4.22168)' fill='%230F1F3F'/%3E%3Crect x='19.7773' y='18.3638' width='2' height='20' transform='rotate(135 19.7773 18.3638)' fill='%230F1F3F'/%3E%3C/svg%3E%0A");
          right: 16px;
          top: 16px;
          width: 24px;
          height: 24px;
        }
      }
      &-item {
        position: relative;
        filter: drop-shadow(0px 32px 80px #d8e3fd);
        background-color: $ui-light2;
        padding: 24px;
        display: none;
        width: 650px;
        position: absolute;
        z-index: 10;
        @media (max-width: 991px) {
          width: 100%;
          height: 100%;
          overflow-y: auto;
        }
      }
      &-title {
        @include h6;
        color: $f-primary;
        margin-bottom: 8px;
      }
      &-desc {
        @include p4;
        p {
          margin-bottom: 16px;
        }
        ul {
          margin-bottom: 16px !important;
          li {
            @include p4;
            p {
              margin: 0;
            }
          }
        }
      }
    }
    &__stages {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      padding: 16px 0;
      @include s4;
      span {
        position: relative;
        cursor: pointer;
        text-decoration: underline;
        text-decoration-style: dashed;
        text-decoration-color: #0b133d80;
        text-underline-offset: 3px;
        text-decoration-thickness: 2px;
        transition: 0.3s;
        &[style="pointer-events: none;"] {
          text-decoration: none;
        }
        @media (hover: hover) {
          &:hover {
            color: $f-primary;
            text-decoration-color: $f-primary;
          }
        }
        &.active {
          color: $f-primary;
          text-decoration-color: $f-primary;
          border: none;
        }
        @media (max-width: 991px) {
          max-width: 150px;
          text-align: center;
        }
        @media (max-width: 600px) {
          &:first-child {
            max-width: 55px;
            line-break: anywhere;
            margin-right: 45px;
          }
        }
      }
      span:first-child,
      span:last-child {
        flex-grow: 0;
      }
    }
    &__item {
      &-bar {
        position: relative;
        width: 100%;
        height: 16px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        .line {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          display: inline-block;
          height: 4px;
          background-color: $ui-light;
          z-index: 1;
          width: calc(16px * 3);
          @media (max-width: 991px) {
            width: 20px;
          }
          &:first-of-type {
            margin-left: -16px;
            @media (max-width: 991px) {
              margin-left: -4px;
            }
          }
          &:last-of-type {
            margin-right: -16px;
            @media (max-width: 991px) {
              margin-right: -4px;
            }
          }
          &:not(:first-child) {
            &:after {
              position: absolute;
              content: "";
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              width: 16px;
              height: 2px;
              background-color: $ui-borderlight;
              z-index: 1;
            }
          }
          &:not(:last-child) {
            &:before {
              position: absolute;
              content: "";
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              width: 16px;
              height: 2px;
              background-color: $ui-borderlight;
              z-index: 1;
            }
          }

          span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 16px;
            height: 16px;
            background-color: #8e8e8e;
            border-radius: 50%;
            z-index: 10;
            @media (max-width: 991px) {
              width: 12px;
              height: 12px;
            }
          }
        }
        &:before {
          width: 100%;
          height: 2px;
          position: absolute;
          content: "";
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          background-color: $ui-borderlight;
        }
        .progress {
          height: 4px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          will-change: width;
        }
      }
      &-title {
        @include s3;
        font-weight: 600 !important;
      }
    }
  }
  &-painkiller {
    grid-column: 12 span;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% auto;
    margin: 0 -40px;
    padding: 120px 40px 150px;
    @media (max-width: 991px) {
      background-position: 30% bottom;
      background-size: 800px;
      padding: 80px 24px 45px;
      margin: 0 -24px;
      grid-column: 8 span;
      grid-template-columns: repeat(8, 1fr);
      gap: 8px;
    }
    @media (max-width: 600px) {
      padding: 40px 24px 90px;
      margin: 0 -16px;
    }
    &__title {
      @include font(32px, 36px, 300);
      grid-column: 1 / 8 span;
      @media (min-width: 600px) {
        @include font(32px, 36px, 300);
        grid-column: 1 / 6 span;
      }
      @media (min-width: 1024px) {
        @include font(64px, 64px, 300);
        grid-column: 2 / 11 span;
      }
      @media (min-width: 1366px) {
        grid-column: 2 / 9 span;
      }
      @media (min-width: 1600px) {
        @include font(80px, 80px, 300);
      }
      @media (min-width: 1920px) {
        @include font(98px, 100px, 300);
      }
      span {
        color: $f-primary;
      }
    }
    &__desc {
      @include p2;
      grid-column: 2 / 5 span;
      @media (max-width: 990px) {
        grid-column: 1 / 5 span;
      }
      @media (max-width: 599px) {
        grid-column: 1 / 8 span;
      }
    }
  }
  &-gallery {
    grid-column: 12 span;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 20px;
    padding: 120px 0;
    @media (max-width: 991px) {
      grid-column: 8 span;
      grid-template-columns: repeat(8, 1fr);
      gap: 0 8px;
      padding: 40px 0;
    }
    @media (max-width: 600px) {
      // margin: 0 -16px;
      padding: 20px 0 40px;
    }
    &__title {
      @include h1;
      grid-column: 2 / 5 span;
      @media (max-width: 991px) {
        grid-column: 1 / 8 span;
      }
    }
    &__inner {
      grid-column: 2 / 11 span;
      margin: 40px 0;
      @media (max-width: 991px) {
        margin: 20px 0;
        grid-column: 1 / 8 span;
      }
    }
    &__wrapper {
      grid-column: 12 span;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 20px;
      overflow: hidden;
      margin: 0 calc(((100vw - 100%) / 2) * -1);
      padding: 0 calc((100vw - 100%) / 2);
      max-width: calc(100vw - var(--scroll-width, 17px));
      @media (max-width: 991px) {
        grid-column: 8 span;
        // padding: 0;
      }
    }
    &__item {
      cursor: pointer;
      box-shadow: 0px 10px 24px 0px #d8e3fd;
      max-height: 143px;
      @media (min-width: 600px) {
        max-height: 282px;
      }
      @media (min-width: 1024px) {
        max-height: 480px;
      }
      img {
        height: 100%;
      }
    }
    &__desc {
      @include p2;
      grid-column: 2 / 8 span;
      @media (max-width: 991px) {
        grid-column: 1 / 8 span;
      }
    }
  }
  &__equipment {
    grid-column: 1/8 span;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 40px 0;
    gap: 40px;
    @media (min-width: 480px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 55px;
      margin-top: 40px;
      margin-bottom: 60px;
    }
    @media (min-width: 991px) {
      grid-column: 2/10 span;
      gap: 75px;
      margin-top: 60px;
      margin-bottom: 120px;
    }
    @media (min-width: 1024px) {
      gap: 100px;
    }
    @media (min-width: 1366px) {
      margin-top: 60px;
      margin-bottom: 200px;
      gap: 120px;
    }

    &-item {
      @media (max-width: 480px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
      }
      &:nth-child(2).observer.animation {
        animation-delay: 0.1s;
      }
      &:nth-child(3).observer.animation {
        animation-delay: 0.2s;
      }
    }
    &-desc {
      margin-top: 10px;
      @include s3;
    }
  }
  .pagination {
    &__list {
      margin: 0;
      li {
        margin: 0 !important;
      }
    }
  }
}

.see-also {
  @include container;
  --height: auto;
  height: calc((var(--vh, 1vh) * 100) - var(--height));
  position: sticky;
  background: $ui-dark;
  bottom: 0;
  z-index: 0;
  align-content: center;
  @media (min-width: 1024px) {
    --height: 110px;
  }
  @media (min-width: 1600px) {
    --height: 121px;
  }
  @media (max-width: 991px) {
    grid-template-columns: repeat(8, 1fr);
    gap: 0 8px;
    padding: 24px 20px 0;
    height: auto;
    margin-bottom: -1px;
  }
  span {
    @include s1;
    grid-column: 4 / 5 span;
    color: $f-primary;
    @media (max-width: 991px) {
      grid-column: 1 / 8 span;
    }
  }
  &__title {
    @include h1;
    color: $f-white;
    grid-column: 4 / 5 span;
    margin-top: 40px;
    @media (hover: hover) {
      &:hover {
        color: $f-primary;
      }
    }
    @media (max-width: 991px) {
      margin-top: 12px;
      grid-column: 1 / 4 span;
    }
  }
}
