//- Все примеси в этом файле должны начинаться c имени блока (price)

mixin price(obj, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +price('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + 'price--' + modsList[i].trim();
      }
    }

  ul.price(class=allMods)&attributes(attributes)
    each value, index in obj
      li.price__item
        span.price__item-prop= index
        .dot-leaders
        span.price__item-value= value
