// В этом файле должны быть стили для БЭМ-блока price, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.price {
  $block-name: &; // #{$block-name}__element
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: inherit;
  .dot-leaders {
    // position: absolute;
    @media (max-width: 1024px) {
      display: none;
    }
    &::before {
      content: " ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪";
      position: absolute;
      bottom: 10px;
      font-size: 10px;
      line-height: 2px;
      overflow: hidden;
      white-space: nowrap;
      color: $f-black;
      opacity: 0.5;
      @media (max-width: 1024px) {
        content: none;
      }
    }
  }
  &--dots {
    #{$block-name}__item {
      position: relative;
      background: inherit;
      &-prop {
        background: inherit;
        span {
          position: relative;
          background: inherit;
          z-index: 1;
        }
      }
      &-value {
        background: inherit;
        color: $f-primary;
        white-space: nowrap;
        z-index: 1;
      }
    }
  }
  &__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    // display: flex;
    // justify-content: space-between;
    align-items: end;
    margin-bottom: 32px;
    &:not(:first-child) {
      @media (min-width: 991px) {
        margin-top: 24px;
      }
      @media (min-width: 1600px) {
        margin-top: 32px;
      }
    }
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      padding: 12px 0 0 0;
      flex-direction: column;
      margin-bottom: 0;
      &:not(:last-child) {
        border-bottom: 1px solid $ui-borderlight;
        padding: 12px 0;
      }
    }
    &::before {
      content: none;
    }

    &-prop {
      color: $f-black;
    }
    &-value {
      color: $f-black;
    }
  }
}
