//- Все примеси в этом файле должны начинаться c имени блока (form-send)

mixin form-send()
  button(disabled).form-send
      span Отправить
      svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M21 12L21.7164 11.3023L22.3959 12L21.7164 12.6977L21 12ZM11.1529 20.6773L20.2836 11.3023L21.7164 12.6977L12.5857 22.0727L11.1529 20.6773ZM20.2836 12.6977L11.1529 3.32271L12.5857 1.92729L21.7164 11.3023L20.2836 12.6977ZM21 13L0.750001 13L0.749999 11L21 11L21 13Z' fill='white')
