//- Все примеси в этом файле должны начинаться c имени блока (footer)

mixin footer(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +footer('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' footer--' + modsList[i].trim();
      }
    }

  footer.footer(class=allMods)&attributes(attributes)
    .footer__top
      .footer__address 
        button.map-popup__open
          svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M13.25 7C13.25 10.75 8 14.25 8 14.25C8 14.25 2.75 10.75 2.75 7C2.75 5.60761 3.30312 4.27226 4.28769 3.28769C5.27226 2.30312 6.60761 1.75 8 1.75C9.39239 1.75 10.7277 2.30312 11.7123 3.28769C12.6969 4.27226 13.25 5.60761 13.25 7V7Z' stroke='#49AC32' stroke-linecap='round' stroke-linejoin='round')
            path(d='M8 8.25C8.69036 8.25 9.25 7.69036 9.25 7C9.25 6.30964 8.69036 5.75 8 5.75C7.30964 5.75 6.75 6.30964 6.75 7C6.75 7.69036 7.30964 8.25 8 8.25Z' fill='#49AC32' stroke='#49AC32' stroke-linecap='round' stroke-linejoin='round')
          span Б. Печерская, д. 26
      .footer__contacts
        a.footer__contacts-tel(href="tel:#")
          svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0_2810_26850)')
              path(d='M14.6669 11.2802V13.2802C14.6677 13.4659 14.6297 13.6497 14.5553 13.8198C14.4809 13.9899 14.3718 14.1426 14.235 14.2681C14.0982 14.3937 13.9367 14.4892 13.7608 14.5487C13.5849 14.6082 13.3985 14.6303 13.2136 14.6136C11.1622 14.3907 9.19161 13.6897 7.46028 12.5669C5.8495 11.5433 4.48384 10.1777 3.46028 8.56689C2.3336 6.8277 1.63244 4.84756 1.41361 2.78689C1.39695 2.60254 1.41886 2.41673 1.47795 2.24131C1.53703 2.06589 1.63199 1.90469 1.75679 1.76797C1.88159 1.63126 2.03348 1.52203 2.20281 1.44724C2.37213 1.37245 2.55517 1.33374 2.74028 1.33356H4.74028C5.06382 1.33038 5.37748 1.44495 5.62279 1.65592C5.8681 1.86689 6.02833 2.15986 6.07361 2.48023C6.15803 3.12027 6.31458 3.74871 6.54028 4.35356C6.62998 4.59218 6.64939 4.8515 6.59622 5.10081C6.54305 5.35012 6.41952 5.57897 6.24028 5.76023L5.39361 6.60689C6.34265 8.27592 7.72458 9.65786 9.39361 10.6069L10.2403 9.76023C10.4215 9.58099 10.6504 9.45746 10.8997 9.40429C11.149 9.35112 11.4083 9.37053 11.6469 9.46023C12.2518 9.68593 12.8802 9.84248 13.5203 9.92689C13.8441 9.97258 14.1399 10.1357 14.3513 10.3852C14.5627 10.6348 14.6751 10.9533 14.6669 11.2802Z' stroke='#49AC32' stroke-linecap='round' stroke-linejoin='round')
            defs
              clippath#clip0_2810_26850
                rect(width='16' height='16' fill='white')
          span 8 831 422-30-80  
        a.footer__contacts-mail(href="mailto:#")
          svg(width='14' height='11' viewbox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M1 1V10H13V1M1 1H13M1 1L7 6L13 1' stroke='#49AC32')
          span info@persona-plastica.ru  
      .footer__social 
        a.footer__social-vk(href="#")
          svg(width='36' height='36' viewbox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg')
            rect(width='36' height='36' rx='18' fill='#0B133D' fill-opacity='0.98')
            path(d='M24.3079 23.3136H26.2714C26.8433 23.3136 27.1102 23.0277 26.9577 22.4748C26.7861 21.922 26.138 21.1213 25.2992 20.1682C24.8417 19.6344 24.1554 19.0434 23.9457 18.7575C23.6597 18.3762 23.736 18.2237 23.9457 17.8806C23.9266 17.8806 26.3286 14.4873 26.5764 13.3435C26.7099 12.9241 26.5764 12.6191 25.9855 12.6191H24.0219C23.5263 12.6191 23.2975 12.886 23.1641 13.1719C23.1641 13.1719 22.1537 15.612 20.743 17.1943C20.2855 17.6518 20.0758 17.8043 19.828 17.8043C19.6945 17.8043 19.523 17.6518 19.523 17.2324V13.3244C19.523 12.8288 19.3705 12.6 18.9511 12.6H15.8628C15.5578 12.6 15.3672 12.8288 15.3672 13.0575C15.3672 13.5341 16.0725 13.6485 16.1488 14.9829V17.8806C16.1488 18.5096 16.0344 18.624 15.7866 18.624C15.1193 18.624 13.499 16.1649 12.5267 13.3625C12.3361 12.8097 12.1455 12.6 11.6498 12.6H9.66722C9.09532 12.6 9 12.8669 9 13.1528C9 13.6676 9.66722 16.2602 12.1073 19.6916C13.7277 22.0364 16.0344 23.2946 18.1123 23.2946C19.3705 23.2946 19.523 23.0086 19.523 22.532V20.7591C19.523 20.1872 19.6374 20.0919 20.0377 20.0919C20.3236 20.0919 20.8384 20.2444 22.0012 21.3692C23.3357 22.7036 23.5644 23.3136 24.3079 23.3136Z' fill='#F2F6FF')
        a.footer__social-telegram(href="#")
          svg(width='36' height='36' viewbox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg')
            rect(width='36' height='36' rx='18' fill='#0B133D' fill-opacity='0.98')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M11.0312 17.5964C15.0577 15.7618 17.7427 14.5523 19.0861 13.968C22.9219 12.2995 23.7189 12.0097 24.2384 12.0001C24.3527 11.998 24.6082 12.0276 24.7737 12.168C24.9134 12.2866 24.9518 12.4468 24.9702 12.5592C24.9886 12.6716 25.0115 12.9277 24.9933 13.1278C24.7855 15.4118 23.8861 20.9545 23.4285 23.5127C23.2349 24.5951 22.8536 24.958 22.4845 24.9936C21.6824 25.0707 21.0734 24.4392 20.2965 23.9067C19.0809 23.0733 18.3941 22.5545 17.2141 21.7413C15.8504 20.8015 16.7344 20.285 17.5116 19.4409C17.715 19.22 21.249 15.8583 21.3174 15.5533C21.326 15.5152 21.3339 15.373 21.2532 15.298C21.1724 15.2229 21.0532 15.2486 20.9672 15.269C20.8453 15.2979 18.9033 16.6403 15.1411 19.2961C14.5899 19.6919 14.0906 19.8848 13.6433 19.8747C13.1501 19.8635 12.2015 19.5831 11.4962 19.3433C10.6312 19.0493 9.94377 18.8938 10.0036 18.3944C10.0348 18.1343 10.3773 17.8683 11.0312 17.5964Z' fill='#F5F8FF')
    .footer__bottom
      .footer__copyright ООО «Центр Хирургии», <br> Сеть клиник «Персона» © 2022
      .footer__info
          .footer__info-wrapper 
            a(href="") Политика конфиденциальности
            a(href="") Скачать прайс-лист
            span Информация, указанная на сайте, не является публичной офертой.
      .footer__dev
        span Сделано в 
          a(href="") VZDH
        span Запрограммировано в 
          a(href="") Burbon