mixin link(name, link, mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        if (modsList[i].trim() === "observer") {
          allMods = allMods + ' ' + modsList[i].trim();
        } else {

        allMods = allMods + ' link--' + modsList[i].trim();
        }
      }
    }

  if link == true 
    a(class=['link', allMods] href="#")&attributes(attributes)
      span.link-text= name
      case mods 
        when "refresh"
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.4837 4.71423L15.2204 0.402344L14.0115 1.5976L16.8435 4.46185H4.19453H3.34453V5.31185H4.19453L3.34453 5.31193V5.31218V5.31259V5.31317V5.3139V5.3148V5.31586V5.31708V5.33255V5.39293V5.62255V6.44575V8.97625V13H5.04453V8.97625V6.44575V6.16185H16.8435L14.0115 9.02611L15.2204 10.2214L19.4837 5.90948L20.0746 5.31185L19.4837 4.71423ZM3.5909 19.211L7.85421 23.5229L9.06308 22.3276L6.23109 19.4634H18.8801H19.7301V18.6134H18.8801L19.7301 18.6133V18.6131V18.6127V18.6121V18.6114V18.6105V18.6094V18.6082V18.5929V18.5331V18.3059V17.4912V14.9863V11H18.0301V14.9863V17.4912V17.7634H6.23109L9.06308 14.8991L7.85421 13.7039L3.5909 18.0158L3 18.6134L3.5909 19.211Z" fill="#49AC32"/>
          </svg>
        default 
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 12L2.28362 12.6977L1.60409 12L2.28362 11.3023L3 12ZM12.8471 3.32271L3.71638 12.6977L2.28362 11.3023L11.4143 1.92729L12.8471 3.32271ZM3.71638 11.3023L12.8471 20.6773L11.4143 22.0727L2.28362 12.6977L3.71638 11.3023ZM3 11L23.25 11L23.25 13L3 13L3 11Z"/>
          </svg>
  else
    button(class=['link', allMods])
      span.link-text= name
      case mods 
        when "refresh"
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.4837 4.71423L15.2204 0.402344L14.0115 1.5976L16.8435 4.46185H4.19453H3.34453V5.31185H4.19453L3.34453 5.31193V5.31218V5.31259V5.31317V5.3139V5.3148V5.31586V5.31708V5.33255V5.39293V5.62255V6.44575V8.97625V13H5.04453V8.97625V6.44575V6.16185H16.8435L14.0115 9.02611L15.2204 10.2214L19.4837 5.90948L20.0746 5.31185L19.4837 4.71423ZM3.5909 19.211L7.85421 23.5229L9.06308 22.3276L6.23109 19.4634H18.8801H19.7301V18.6134H18.8801L19.7301 18.6133V18.6131V18.6127V18.6121V18.6114V18.6105V18.6094V18.6082V18.5929V18.5331V18.3059V17.4912V14.9863V11H18.0301V14.9863V17.4912V17.7634H6.23109L9.06308 14.8991L7.85421 13.7039L3.5909 18.0158L3 18.6134L3.5909 19.211Z" fill="#49AC32"/>
          </svg>
        default 
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 12L2.28362 12.6977L1.60409 12L2.28362 11.3023L3 12ZM12.8471 3.32271L3.71638 12.6977L2.28362 11.3023L11.4143 1.92729L12.8471 3.32271ZM3.71638 11.3023L12.8471 20.6773L11.4143 22.0727L2.28362 12.6977L3.71638 11.3023ZM3 11L23.25 11L23.25 13L3 13L3 11Z"/>
          </svg>
       
      
                    


