// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tabs {
  $block-name: &; // #{$block-name}__element
  &--column {
    #{$block-name}__caption-inner {
      flex-direction: column;
    }
  }
  &--horizontal {
    display: flex;
  }
  &__caption {
    &-inner {
      display: flex;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 0 !important;
        cursor: pointer;
        position: relative !important;
        transition: 0.3s;
        white-space: nowrap;
        &::before {
          content: none;
        }
        &.active {
          color: $f-primary !important;
        }
        @media (hover: hover) {
          &:hover {
            color: $f-primary !important;
          }
        }
      }
    }
  }
  &__content {
    position: relative;
    overflow: hidden;
    &-block {
      // display: none;
      position: absolute;
      inset: 0;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
      &.active {
        // display: block;
        position: static;
        visibility: visible;
        opacity: 1;
        z-index: 0;
      }
    }
  }
}
