extends ../pug/template-light.pug

block meta
  title Стоимость операций
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href="")

block detail-top
  .detail__top
    .detail__top-inner
      .detail-service__title
        h1.h1big Стоимость операций
block aside
  .detail__aside.column3.fixed-btn
    +link("Скачать полный прайс-лист", true, 'down')   
block content
  .detail__dropdown
    +dropdown("Пластическая хирургия")
        +price({"Гинекомастия": "от 90 000 ₽","Вертикальная мастопексия": "от 187 000 ₽","Якорная мастопексия": "от 227 000 ₽","Маммопластика": "от 235 000 ₽","Уменьшение груди (редукционная маммопластика)": "от 244 000 ₽",}, 'dots')
    +dropdown("Гинекология")
        +price({"Гинекомастия": "от 90 000 ₽","Вертикальная мастопексия": "от 187 000 ₽","Якорная мастопексия": "от 227 000 ₽","Маммопластика": "от 235 000 ₽","Уменьшение груди (редукционная маммопластика)": "от 244 000 ₽",}, 'dots')
    +dropdown("Общая хирургия")
        +price({"Гинекомастия": "от 90 000 ₽","Вертикальная мастопексия": "от 187 000 ₽","Якорная мастопексия": "от 227 000 ₽","Маммопластика": "от 235 000 ₽","Уменьшение груди (редукционная маммопластика)": "от 244 000 ₽",}, 'dots')
    +dropdown("Флебология")
        +price({"Гинекомастия": "от 90 000 ₽","Вертикальная мастопексия": "от 187 000 ₽","Якорная мастопексия": "от 227 000 ₽","Маммопластика": "от 235 000 ₽","Уменьшение груди (редукционная маммопластика)": "от 244 000 ₽",}, 'dots')
    +dropdown("Травматология и ортопедия")
        +price({"Гинекомастия": "от 90 000 ₽","Вертикальная мастопексия": "от 187 000 ₽","Якорная мастопексия": "от 227 000 ₽","Маммопластика": "от 235 000 ₽","Уменьшение груди (редукционная маммопластика)": "от 244 000 ₽",}, 'dots')
    +dropdown("Отоларингология")
        +price({"Гинекомастия": "от 90 000 ₽","Вертикальная мастопексия": "от 187 000 ₽","Якорная мастопексия": "от 227 000 ₽","Маммопластика": "от 235 000 ₽","Уменьшение груди (редукционная маммопластика)": "от 244 000 ₽",}, 'dots')
    .detail__allprices-desc
      p Предложение не является публичной офертой. Цены действительны на 01.02.2021
      p Подробности у администраторов по телефону
        a(href="tel:88314223080")  8 (831) 422−30−80.
      p *Цены на услуги на планируемую дату приёма могут отличаться. Актуальную стоимость на дату приёма уточняйте, пожалуйста, у администраторов.