extends ../pug/template-light.pug

block meta
  title Статьи
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href="")

block detail-top
  .detail__top.sticky
    .detail__top-inner
      .detail-service__title
        h1.h1big Статьи
      .detail__filter
        +select-filter("Все статьи")
        +filter-popup(["Все статьи","Беременность","Лапароскопия","Пластическая хирургия","Ноги","Руки","Операции"])(style="right: 0;")
block content
  .detail__grid
    +new-preview("01 февраля 2022", "Ингаляционная анестезия в Центре хирургии «Персона»!", true)
    +new-preview("21 декабря 2021", "График работы в новогодние праздники")
    +new-preview("01 февраля 2022", "Специалисты Центра Хирургии «Персона» Богосьян Р.А. и Коробка А.А. совместно провели сложнейшую операцию — риносептопластику.")
    +new-preview("01 февраля 2022", "Ингаляционная анестезия в Центре хирургии «Персона»!")
    +new-preview("01 февраля 2022", "Специалисты Центра Хирургии «Персона» Богосьян Р.А. и Коробка А.А. совместно провели сложнейшую операцию — риносептопластику.", true)
    +new-preview("01 февраля 2022", "График работы в новогодние праздники", true)
    +new-preview("01 февраля 2022", "Специалисты Центра Хирургии «Персона» Богосьян Р.А. и Коробка А.А. совместно провели сложнейшую операцию — риносептопластику.")
    +new-preview("01 февраля 2022", "Ингаляционная анестезия в Центре хирургии «Персона»!")
    +new-preview("01 февраля 2022", "График работы в новогодние праздники")
    +new-preview("01 февраля 2022", "График работы в новогодние праздники", true)
    +new-preview("01 февраля 2022", "Специалисты Центра Хирургии «Персона» Богосьян Р.А. и Коробка А.А. совместно провели сложнейшую операцию — риносептопластику.")
    +new-preview("01 февраля 2022", "Ингаляционная анестезия в Центре хирургии «Персона»!")
    +new-preview("01 февраля 2022", "График работы в новогодние праздники")
    +new-preview("01 февраля 2022", "Ингаляционная анестезия в Центре хирургии «Персона»!", true)
    +new-preview("01 февраля 2022", "Специалисты Центра Хирургии «Персона» Богосьян Р.А. и Коробка А.А. совместно провели сложнейшую операцию — риносептопластику.")
    +new-preview("01 февраля 2022", "График работы в новогодние праздники")
    +new-preview("01 февраля 2022", "Специалисты Центра Хирургии «Персона» Богосьян Р.А. и Коробка А.А. совместно провели сложнейшую операцию — риносептопластику.")
    +new-preview("01 февраля 2022", "Ингаляционная анестезия в Центре хирургии «Персона»!", true)
  +pagination(5)