extends ../pug/lending.pug

block meta
  title Оборудование
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href="")

block banner
  .lending__banner.sticky(style="background-image: url('img/equipment.png')")
    h1 Современное оборудование
block content
  h2.observer В Центре хирургии и эндоскопии «Персона» используется <span>современное оборудование,</span> обеспечивающее максимальное качество и высочайший уровень безопасности
  p.p3.observer Лучшее оборудование в руках профессионалов! Наши специалисты проводят вибрационную липосакцию на уникальном аппарате Magic Bella, радиочастотную липосакцию на платформе BodyTite от INMODE, используют пьезориноскульптор, диодный хирургический лазер и многое другое. Мы по праву гордимся оснащением нашей клиники и широчайшим парком аппаратов по всем направлениям.
  .lending__equipment
    .lending__equipment-item.observer
      .lending__equipment-icon
        img(src="img/obor 1.svg", alt="")
      .lending__equipment-desc Современное и качественное медицинское оборудование
    .lending__equipment-item.observer
      .lending__equipment-icon
        img(src="img/obor 2.svg", alt="")
      .lending__equipment-desc Комфортные условия пребывания пациентов
    .lending__equipment-item.observer
      .lending__equipment-icon
        img(src="img/obor 3.svg", alt="")
      .lending__equipment-desc Достижение необходимого результата в лечении
  .lending__template
    .lending__template-title.observer
      .h1 Высококлассное оборудование для всех направлений
    .lending__template-bottom
      .lending__template-content
        .detail__inner
          figure
            img(src="img/equip-content.png", alt="")
            figcaption Подпись к фотографии
          p 2001 г. — Нижегородская государственная медицинская академия. Клиническая ординатура по акушерству и гинекологии.
          p 2005 г. — Сертификация по курсу «Современные технологии в диагностике и лечении гинекологических заболеваний» в НЦ АГ и П РАМН. (г. Москва).
          p 2006 г. — Специализация по гистероскопии и эндоскопической гинекологии в Научном центре акушерства, гинекологии и перинатологии РАМН (г. Москва).
          p 2008 г. — Повышение квалификации по гистероскопии, гистерорезектоскопии и трансцервикальной эндохирургии при Научном центре акушерства, гинекологии и перинатологии им. В.И. Кулакова (г. Москва).
          p 2010 г. — Награждён Благодарственным письмом от Администрации города Н. Новгорода за вклад в социально-экономическое развитие в сфере здравоохранения.
          p 2011 г. — сертификация по курсу «Оперативная гинекология — новые технологии» в НИИ акушерства и гинекологии им. Д.О. Отта. СЗО РАМН (г. Санкт — Петербург).
          p 2011 г. — сертификация по курсу «Новые эндоскопические технологии в диагностике и лечении гинекологических заболеваний» в НЦ АГ и П РАМН. (г. Москва).
          p 2012 г. — Повышение квалификации по эндоскопической гинекологии в Европейском центре лапароскопической хирургии (CICE) (г. Клермон-Ферран, Франция).
          h2 Опыт работы:
          p 2001 г. — 2002 г. — ОКБ им. Семашко — интернатура.
          p 2003 г. — МЛПУ ПБО Городская больница № 33 — врач акушер-гинеколог, оперирующий хирург.
          p 2012 г. — Центр акушерства и гинекологии «Персона».
          h2 Владеет методиками:
          p Лапароскопия, гистерорезектоскопия, гистероскопия, оперативная гинекология — оперирующий хирург.
block see-also
  span Смотрите также
  a(href="/licences.html").see-also__title Лицензии
    
//- block footer
//-   p footer

//- block prepend page-bottom
//-   <script src=""></script>
