extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href="")

block content
  +header('dark')
  main
    .preloader
    +main-page()
  +cookie()
//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
