extends ../pug/template-light.pug

block meta
  title Пластика тела
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href="")

block detail-top
  .detail__top
    .detail__top-inner
      .detail-service__title
        h1.h1big Юридическая информация
      .detail-service__desc У нас присутствуют все необходимые документы для жизнедеятельности клиники
block aside
  .detail__aside
block content
  +tabs(["Пациентам","Сведения об организации"])
    .tabs__content-block
      .detail__licence
        .detail__licence-block
          img(src="img/licence.png", alt="")
        .detail__licence-block
          h4 Лицензия Министерства РФ Нижегородской области на осуществление медицинской деятельности
          span Лицензия № ЛО-52–01–006258
          span Самая важная лицензия, для осуществление медицинской деятельности
          +link("Скачать", true, "down")
      .pdf__grid
        +pdf("Рекомендуемый перечень медицинской учётной документации")
        +pdf("Федеральный закон от 21 ноября 2011 г. N 323-ФЗ Об основах охраны здоровья граждан в Российской Федерации(с изменениями и дополнениями)")
        +pdf("Федеральный закон об обязательном медицинском страховании в Российской Федерации")
        +pdf("Рекомендуемый перечень медицинской учётной документации")
    .tabs__content-block
      .pdf__grid
        +pdf("Федеральный закон об обязательном медицинском страховании в РФ")
        +pdf("Федеральный закон от 21 ноября 2011 г. N 323-ФЗ Об основах охраны здоровья граждан в Российской Федерации(с изменениями и дополнениями)")
        +pdf("Федеральный закон об обязательном медицинском страховании в Российской Федерации")
        +pdf("Рекомендуемый перечень медицинской учётной документации")