extends ../pug/template-dark.pug

block meta
  title Пластическая хирургия
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href="")

block detail-top
  .detail__top(style="background-image: url('img/mainPage2-mobile.jpg')")
    .detail__bg
        img(src="img/plastic.png")
    .detail__top-inner
      +breadcrumbs(['Операции'])
      .detail__title
        h1.h1big Пластическая хирургия
block aside 
  .detail__aside
    +link("Записаться на прием", false, 'right')
block content
  +tabs(["Операции","Хирурги","Отзывы","Проблемы","Результат",])
    .tabs__content-block
      .detail__content-links
        +link("Пластика лица", true, "button,right")
        +link("Пластика тела", true, "button,right")
      .detail__inner.wysiwyg
        h4 Операции в центре хирургия
        p Это раздел хирургии, занимающийся оперативными вмешательствами, направленными на устранение деформаций и дефектов какого-либо органа, ткани или поверхности человеческого тела. Это раздел хирургии, занимающийся оперативными вмешательствами.
        p Это раздел хирургии, занимающийся оперативными вмешательствами, направленными на устранение деформаций и дефектов какого-либо органа, ткани или поверхности человеческого тела. Это раздел хирургии, занимающийся оперативными вмешательствами.
        img(src="img/detail__content-desc.png")
        p Наиболее часто выполняются следующие пластические операции: коррекция носа (это хирургическая операция, которая исправляет врожденные или приобретенные дефекты носа), подбородка и ушей, подтяжка кожи лица, лба и шеи, блефаропластика, пластика бровей, коррекция губ, инъекции с применением ботокса; липосакция в области живота и талии, увеличение, уменьшение и коррекция груди, омоложение рук; увеличение ягодиц, липосакция в зоне «Галифе», изменение формы малых и больших половых губ и т.д.
        p Наиболее часто выполняются следующие пластические операции: коррекция носа (это хирургическая операция, которая исправляет врожденные или приобретенные дефекты носа), подбородка и ушей, подтяжка кожи лица, лба и шеи, блефаропластика, пластика бровей, коррекция губ, инъекции с применением ботокса; липосакция в области живота и талии, увеличение, уменьшение и коррекция груди, омоложение рук; увеличение ягодиц, липосакция в зоне «Галифе», изменение формы малых и больших половых губ и т.д.
    .tabs__content-block
      .detail__doctor
        a.detail__doctor-item(href="/surgeon-detail.html")
          .detail__doctor-img
            img(src="img/doctor1.png", alt="")
          .detail__doctor-title Круглов Аркадий Борисович
          .detail__doctor-desc Главный врач центра пластической хирургии и эндоскопии «Персона»
        a.detail__doctor-item(href="/surgeon-detail.html")
          .detail__doctor-img
            img(src="img/doctor2.png", alt="")
          .detail__doctor-title Круглов Аркадий Борисович
          .detail__doctor-desc Главный врач центра пластической хирургии и эндоскопии «Персона»
        a.detail__doctor-item(href="/surgeon-detail.html")
          .detail__doctor-img
            img(src="img/doctor3.png", alt="")
          .detail__doctor-title Круглов Аркадий Борисович
          .detail__doctor-desc Главный врач центра пластической хирургии и эндоскопии «Персона»
      .detail__link-all
        +link("Все хирурги", true, "button, right")
    .tabs__content-block
      .detail__reviews
        +review()
        +review()
      .detail__link-all
        +link("Все отзывы", true, "button, right")
    .tabs__content-block
      .detail__problem
        h2 Проблемы груди
        h3 Ассиметрия груди
        p Поблагодарив организаторов форума и премии за награду — её вручение проходило в онлайн-формате, — генеральный директор ОБФ Дмитрий Дулькин отметил, что успехи этого года стали итогом многолетней работы по совершенствованию физико-механических показателей и потребительских свойств продукции. Новое качество позволило ОБФ впервые выйти на международный рынок. По словам Дмитрия Александровича, доля экспорта в общем объёме реализации и значение этого направления для компании будут только возрастать.
        img(src="img/problem1.png", alt="")
        p Поблагодарив организаторов форума и премии за награду — её вручение проходило в онлайн-формате, — генеральный директор ОБФ Дмитрий Дулькин отметил, что успехи этого года стали итогом многолетней работы по совершенствованию физико-механических показателей и потребительских свойств продукции. Новое качество позволило ОБФ впервые выйти на международный рынок. По словам Дмитрия Александровича, доля экспорта в общем объёме реализации и значение этого направления для компании будут только возрастать.
        h3 Ассиметрия груди
        img(src="img/problem2.png", alt="")
        p Поблагодарив организаторов форума и премии за награду — её вручение проходило в онлайн-формате, — генеральный директор ОБФ Дмитрий Дулькин отметил, что успехи этого года стали итогом многолетней работы по совершенствованию физико-механических показателей и потребительских свойств продукции. Новое качество позволило ОБФ впервые выйти на международный рынок. По словам Дмитрия Александровича, доля экспорта в общем объёме реализации и значение этого направления для компании будут только возрастать.
    .tabs__content-block
      .detail__result
        +result-slider 
        .detail__result-desc
          p Маммопластика (лат. mammoplastica) представляет собой пластическую операцию на молочной железе, которая заключается в изменении её формы и (или) изменении размера молочной железы (увеличении или уменьшении).
