extends ../pug/template-dark.pug

block meta
  title Широкий комплекс проводимых операций
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href="")

block detail-top
  .detail__top(style="background-image: url('img/mainPage2-mobile.jpg')")
    .detail__bg
      video.video-bg(autoplay loop muted) 
        source(src="img/mainPage2.mp4" type="video/mp4")
    .detail__top-inner
      .detail__title
        h1.h1 Широкий комплекс проводимых операций
block aside
  .detail__aside
block content
  .detail__content-links.detail__content-links--two_column
    +link("Пластическая хирургия", true, "button,right")
    +link("Гинекология", true, "button,right")
    +link("Флебология", true, "button,right")
    +link("Общая хирургия", true, "button,right")
    +link("Травматология и ортопедия", true, "button,right")
    +link("Отоларингология", true, "button,right")
  .detail__inner.wysiwyg
    h4 Операции в центре хирургия
    p Это раздел хирургии, занимающийся оперативными вмешательствами, направленными на устранение деформаций и дефектов какого-либо органа, ткани или поверхности человеческого тела. Это раздел хирургии, занимающийся оперативными вмешательствами.
    p Это раздел хирургии, занимающийся оперативными вмешательствами, направленными на устранение деформаций и дефектов какого-либо органа, ткани или поверхности человеческого тела. Это раздел хирургии, занимающийся оперативными вмешательствами.
    img(src="img/detail__content-desc.png")
    p Наиболее часто выполняются следующие пластические операции: коррекция носа (это хирургическая операция, которая исправляет врожденные или приобретенные дефекты носа), подбородка и ушей, подтяжка кожи лица, лба и шеи, блефаропластика, пластика бровей, коррекция губ, инъекции с применением ботокса; липосакция в области живота и талии, увеличение, уменьшение и коррекция груди, омоложение рук; увеличение ягодиц, липосакция в зоне «Галифе», изменение формы малых и больших половых губ и т.д.
    p Наиболее часто выполняются следующие пластические операции: коррекция носа (это хирургическая операция, которая исправляет врожденные или приобретенные дефекты носа), подбородка и ушей, подтяжка кожи лица, лба и шеи, блефаропластика, пластика бровей, коррекция губ, инъекции с применением ботокса; липосакция в области живота и талии, увеличение, уменьшение и коррекция груди, омоложение рук; увеличение ягодиц, липосакция в зоне «Галифе», изменение формы малых и больших половых губ и т.д.
  
//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
