extends ../pug/template-light.pug

block meta
  title Маммопластика с увеличением груди имплантами
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href="")

block detail-top
  .detail__top
    .detail__top-inner
      +breadcrumbs(['Операции', 'Пластическая хирургия', 'Пластика тела', 'Маммопластика'])
      .detail-service__title
        h1.h1 Маммопластика с увеличением груди имплантами
      .detail-service__desc Маммопластика — это исправление врождённых или приобретённых деформаций носа, а также полное восстановление отсутствующего носа.
block aside
  .detail__aside 
    +link("Записаться на прием", true, 'right')   
block content
  +tabs(["Описание","Проблемы","Результат","Хирурги","Отзывы","Цены"])
    .tabs__content-block
       .detail__inner.wysiwyg
        img(src="img/service-detail3.png")
        p Маммопластика (лат. mammoplastica) представляет собой пластическую операцию на молочной железе, которая заключается в изменении её формы и (или) изменении размера молочной железы (увеличении или уменьшении). В случае отвисания железы удаляют кожу и расположенную под ней железистую ткань, оставшиеся ткани закрепляют в нормальном положении. Для коррекции под кожу может быть имплантирован специальный протез.[1] Эндопротезирование молочных желез показано при асимметрии молочных желез и при восстановлении груди после мастэктомии (удалении груди).
        p Наиболее часто выполняются следующие пластические операции: коррекция носа, подбородка и ушей, подтяжка кожи лица, лба и шеи, блефаропластика, пластика бровей, коррекция губ, инъекции с применением ботокса; липосакция в области живота и талии, увеличение, уменьшение и коррекция груди, омоложение рук; увеличение ягодиц, липосакция в зоне «Галифе», изменение формы малых и больших половых губ и т.д.
    .tabs__content-block
      .detail__problem
        h2 Проблемы груди
        h3 Ассиметрия груди
        p Поблагодарив организаторов форума и премии за награду — её вручение проходило в онлайн-формате, — генеральный директор ОБФ Дмитрий Дулькин отметил, что успехи этого года стали итогом многолетней работы по совершенствованию физико-механических показателей и потребительских свойств продукции. Новое качество позволило ОБФ впервые выйти на международный рынок. По словам Дмитрия Александровича, доля экспорта в общем объёме реализации и значение этого направления для компании будут только возрастать.
        img(src="img/problem1.png", alt="")
        p Поблагодарив организаторов форума и премии за награду — её вручение проходило в онлайн-формате, — генеральный директор ОБФ Дмитрий Дулькин отметил, что успехи этого года стали итогом многолетней работы по совершенствованию физико-механических показателей и потребительских свойств продукции. Новое качество позволило ОБФ впервые выйти на международный рынок. По словам Дмитрия Александровича, доля экспорта в общем объёме реализации и значение этого направления для компании будут только возрастать.
        h3 Ассиметрия груди
        img(src="img/problem2.png", alt="")
        p Поблагодарив организаторов форума и премии за награду — её вручение проходило в онлайн-формате, — генеральный директор ОБФ Дмитрий Дулькин отметил, что успехи этого года стали итогом многолетней работы по совершенствованию физико-механических показателей и потребительских свойств продукции. Новое качество позволило ОБФ впервые выйти на международный рынок. По словам Дмитрия Александровича, доля экспорта в общем объёме реализации и значение этого направления для компании будут только возрастать.
    .tabs__content-block
      .detail__result
        +result-slider 
        .detail__result-desc
          p Маммопластика (лат. mammoplastica) представляет собой пластическую операцию на молочной железе, которая заключается в изменении её формы и (или) изменении размера молочной железы (увеличении или уменьшении).
    .tabs__content-block
      .detail__doctor
        a.detail__doctor-item(href="/surgeon-detail.html")
          .detail__doctor-img
            img(src="img/doctor1.png", alt="")
          .detail__doctor-title Круглов Аркадий Борисович
          .detail__doctor-desc Главный врач центра пластической хирургии и эндоскопии «Персона»
        a.detail__doctor-item(href="/surgeon-detail.html")
          .detail__doctor-img
            img(src="img/doctor2.png", alt="")
          .detail__doctor-title Круглов Аркадий Борисович
          .detail__doctor-desc Главный врач центра пластической хирургии и эндоскопии «Персона»
        a.detail__doctor-item(href="/surgeon-detail.html")
          .detail__doctor-img
            img(src="img/doctor3.png", alt="")
          .detail__doctor-title Круглов Аркадий Борисович
          .detail__doctor-desc Главный врач центра пластической хирургии и эндоскопии «Персона»
      .detail__link-all
        +link("Все хирурги", true, "button, right")
    .tabs__content-block
      .detail__reviews
        +review()
        +review()
      +pagination(5)
      .detail__link-all
        +link("Все отзывы", true, "button, right")
    .tabs__content-block
      .detail__prices 
        +attention()
        +price({"Гинекомастия": "от 90 000 ₽","Вертикальная мастопексия": "от 187 000 ₽","Якорная мастопексия": "от 227 000 ₽","Маммопластика": "от 235 000 ₽","Уменьшение груди (редукционная маммопластика)": "от 244 000 ₽",}, 'dots')
      .detail__link-all
        +link("Все цены на операции", true, "button, right") 