extends ../pug/template-light.pug

block meta
  title Детальная акции
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href="")

block detail-top
  .detail__top
    .detail__top-inner
      .detail-article__header
        .detail-article__back
          +link("Новости",true, "left")
        .detail-article__info Дата публикации: 
          span 12 марта 2021
      .detail-article__title
        h2.h2 Специалисты Центра Хирургии «Персона» Богосьян Р.А. и Коробка А.А. совместно провели сложнейшую операцию — риносептопластику
      .detail-article__desc Оперативная информация, которая представляет политический, социальный или экономический интерес для аудитории в своей свежести.
      .share-social
        span Поделиться:
        .share-social__icons
          <a href="#">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="24" height="24" rx="12" fill="white"/>
              <path d="M16.2053 15.5428H17.5143C17.8955 15.5428 18.0735 15.3522 17.9718 14.9836C17.8574 14.615 17.4253 14.0813 16.8661 13.4458C16.5611 13.09 16.1036 12.696 15.9638 12.5054C15.7732 12.2512 15.824 12.1495 15.9638 11.9208C15.9511 11.9208 17.5524 9.65857 17.7176 8.89604C17.8066 8.61644 17.7176 8.4131 17.3236 8.4131H16.0146C15.6842 8.4131 15.5317 8.59102 15.4427 8.78166C15.4427 8.78166 14.7691 10.4084 13.8287 11.4632C13.5237 11.7683 13.3839 11.8699 13.2187 11.8699C13.1297 11.8699 13.0153 11.7683 13.0153 11.4887V8.88333C13.0153 8.5529 12.9136 8.40039 12.6341 8.40039H10.5752C10.3719 8.40039 10.2448 8.5529 10.2448 8.7054C10.2448 9.02313 10.715 9.09938 10.7658 9.989V11.9208C10.7658 12.3402 10.6896 12.4164 10.5244 12.4164C10.0796 12.4164 8.9993 10.777 8.35115 8.90875C8.22406 8.54019 8.09697 8.40039 7.76654 8.40039H6.44481C6.06354 8.40039 6 8.57832 6 8.76895C6 9.11209 6.44481 10.8405 8.07155 13.1281C9.15181 14.6913 10.6896 15.5301 12.0749 15.5301C12.9136 15.5301 13.0153 15.3395 13.0153 15.0217V13.8398C13.0153 13.4585 13.0916 13.395 13.3585 13.395C13.5491 13.395 13.8922 13.4967 14.6675 14.2465C15.5571 15.1361 15.7096 15.5428 16.2053 15.5428Z" fill="#0B133D"/>
            </svg>
          </a>
          <a href="#">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="24" height="24" rx="12" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.89368 11.3049C9.38334 9.8937 11.7103 8.96333 12.8746 8.51383C16.199 7.23039 16.8897 7.00744 17.34 7.00008C17.439 6.99846 17.6604 7.02124 17.8038 7.12926C17.9249 7.22047 17.9583 7.34368 17.9742 7.43016C17.9901 7.51664 18.01 7.71364 17.9942 7.86757C17.8141 9.6245 17.0346 13.8881 16.638 15.8559C16.4702 16.6885 16.1398 16.9677 15.8199 16.995C15.1248 17.0544 14.5969 16.5686 13.9236 16.159C12.8701 15.5179 12.2749 15.1189 11.2522 14.4933C10.0703 13.7704 10.8365 13.3731 11.51 12.7237C11.6863 12.5538 14.7492 9.96792 14.8084 9.73334C14.8159 9.704 14.8227 9.59464 14.7527 9.5369C14.6828 9.47915 14.5794 9.4989 14.5049 9.5146C14.3992 9.53687 12.7162 10.5695 9.45566 12.6124C8.97792 12.9169 8.54521 13.0652 8.1575 13.0574C7.73009 13.0489 6.90793 12.8331 6.29673 12.6487C5.54708 12.4225 4.95127 12.3029 5.00315 11.9188C5.03017 11.7187 5.32702 11.5141 5.89368 11.3049Z" fill="#0F1F3F"/>
            </svg>
          </a>
          <a href="#">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="24" height="24" rx="12" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0028 9.10268C15.0028 7.39235 13.608 6 11.9001 6C10.1729 6 8.78056 7.39235 8.78056 9.10268C8.78056 10.813 10.1729 12.2054 11.9001 12.2054C13.6104 12.2054 15.0028 10.8106 15.0028 9.10268ZM14.9088 17.7362C15.2605 17.3845 15.2605 16.8088 14.9088 16.4547L13.1431 14.7444C13.7742 14.5974 14.3885 14.3541 14.945 14.0024C15.3738 13.7422 15.5038 13.1665 15.2244 12.7401C14.9642 12.3114 14.3885 12.1813 13.9621 12.4607C12.6975 13.2605 11.0449 13.2605 9.78267 12.4607C9.35629 12.2005 8.79983 12.3138 8.5204 12.7401C8.27951 13.1689 8.40959 13.7254 8.83597 13.9855C9.39242 14.3372 10.0067 14.5781 10.6378 14.7275L8.91064 16.4547C8.55894 16.8064 8.55894 17.3821 8.91064 17.7362C9.09613 17.9217 9.32016 17.9964 9.56105 17.9964C9.80194 17.9964 10.026 17.9024 10.2115 17.7362L11.9194 16.0283L13.6273 17.7362C13.979 18.0879 14.5571 18.0879 14.9088 17.7362ZM13.1811 9.10146C13.1811 9.80728 12.6054 10.383 11.8996 10.383C11.1938 10.383 10.618 9.80728 10.618 9.10146C10.5988 8.39565 11.1745 7.81992 11.8996 7.81992C12.6054 7.81992 13.1811 8.39565 13.1811 9.10146Z" fill="#0B133D"/>
            </svg>
          </a>
block aside
  .detail__aside 
    .share-social
      span Поделиться:
      .share-social__icons
        <a href="#">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="24" height="24" rx="12" fill="white"/>
            <path d="M16.2053 15.5428H17.5143C17.8955 15.5428 18.0735 15.3522 17.9718 14.9836C17.8574 14.615 17.4253 14.0813 16.8661 13.4458C16.5611 13.09 16.1036 12.696 15.9638 12.5054C15.7732 12.2512 15.824 12.1495 15.9638 11.9208C15.9511 11.9208 17.5524 9.65857 17.7176 8.89604C17.8066 8.61644 17.7176 8.4131 17.3236 8.4131H16.0146C15.6842 8.4131 15.5317 8.59102 15.4427 8.78166C15.4427 8.78166 14.7691 10.4084 13.8287 11.4632C13.5237 11.7683 13.3839 11.8699 13.2187 11.8699C13.1297 11.8699 13.0153 11.7683 13.0153 11.4887V8.88333C13.0153 8.5529 12.9136 8.40039 12.6341 8.40039H10.5752C10.3719 8.40039 10.2448 8.5529 10.2448 8.7054C10.2448 9.02313 10.715 9.09938 10.7658 9.989V11.9208C10.7658 12.3402 10.6896 12.4164 10.5244 12.4164C10.0796 12.4164 8.9993 10.777 8.35115 8.90875C8.22406 8.54019 8.09697 8.40039 7.76654 8.40039H6.44481C6.06354 8.40039 6 8.57832 6 8.76895C6 9.11209 6.44481 10.8405 8.07155 13.1281C9.15181 14.6913 10.6896 15.5301 12.0749 15.5301C12.9136 15.5301 13.0153 15.3395 13.0153 15.0217V13.8398C13.0153 13.4585 13.0916 13.395 13.3585 13.395C13.5491 13.395 13.8922 13.4967 14.6675 14.2465C15.5571 15.1361 15.7096 15.5428 16.2053 15.5428Z" fill="#0B133D"/>
          </svg>
        </a>
        <a href="#">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="24" height="24" rx="12" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.89368 11.3049C9.38334 9.8937 11.7103 8.96333 12.8746 8.51383C16.199 7.23039 16.8897 7.00744 17.34 7.00008C17.439 6.99846 17.6604 7.02124 17.8038 7.12926C17.9249 7.22047 17.9583 7.34368 17.9742 7.43016C17.9901 7.51664 18.01 7.71364 17.9942 7.86757C17.8141 9.6245 17.0346 13.8881 16.638 15.8559C16.4702 16.6885 16.1398 16.9677 15.8199 16.995C15.1248 17.0544 14.5969 16.5686 13.9236 16.159C12.8701 15.5179 12.2749 15.1189 11.2522 14.4933C10.0703 13.7704 10.8365 13.3731 11.51 12.7237C11.6863 12.5538 14.7492 9.96792 14.8084 9.73334C14.8159 9.704 14.8227 9.59464 14.7527 9.5369C14.6828 9.47915 14.5794 9.4989 14.5049 9.5146C14.3992 9.53687 12.7162 10.5695 9.45566 12.6124C8.97792 12.9169 8.54521 13.0652 8.1575 13.0574C7.73009 13.0489 6.90793 12.8331 6.29673 12.6487C5.54708 12.4225 4.95127 12.3029 5.00315 11.9188C5.03017 11.7187 5.32702 11.5141 5.89368 11.3049Z" fill="#0F1F3F"/>
          </svg>
        </a>
        <a href="#">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="24" height="24" rx="12" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0028 9.10268C15.0028 7.39235 13.608 6 11.9001 6C10.1729 6 8.78056 7.39235 8.78056 9.10268C8.78056 10.813 10.1729 12.2054 11.9001 12.2054C13.6104 12.2054 15.0028 10.8106 15.0028 9.10268ZM14.9088 17.7362C15.2605 17.3845 15.2605 16.8088 14.9088 16.4547L13.1431 14.7444C13.7742 14.5974 14.3885 14.3541 14.945 14.0024C15.3738 13.7422 15.5038 13.1665 15.2244 12.7401C14.9642 12.3114 14.3885 12.1813 13.9621 12.4607C12.6975 13.2605 11.0449 13.2605 9.78267 12.4607C9.35629 12.2005 8.79983 12.3138 8.5204 12.7401C8.27951 13.1689 8.40959 13.7254 8.83597 13.9855C9.39242 14.3372 10.0067 14.5781 10.6378 14.7275L8.91064 16.4547C8.55894 16.8064 8.55894 17.3821 8.91064 17.7362C9.09613 17.9217 9.32016 17.9964 9.56105 17.9964C9.80194 17.9964 10.026 17.9024 10.2115 17.7362L11.9194 16.0283L13.6273 17.7362C13.979 18.0879 14.5571 18.0879 14.9088 17.7362ZM13.1811 9.10146C13.1811 9.80728 12.6054 10.383 11.8996 10.383C11.1938 10.383 10.618 9.80728 10.618 9.10146C10.5988 8.39565 11.1745 7.81992 11.8996 7.81992C12.6054 7.81992 13.1811 8.39565 13.1811 9.10146Z" fill="#0B133D"/>
          </svg>
        </a>

block content   
  .detail__inner.wysiwyg
    h4 Пластика тела
    p Это раздел хирургии, занимающийся оперативными вмешательствами, направленными на устранение деформаций и дефектов какого-либо органа, ткани или поверхности человеческого тела. Это раздел хирургии, занимающийся оперативными вмешательствами.
    p Это раздел хирургии, занимающийся оперативными вмешательствами, направленными на устранение деформаций и дефектов какого-либо органа, ткани или поверхности человеческого тела. Это раздел хирургии, занимающийся оперативными вмешательствами.
    img(src="img/detail__content-desc.png")
    p Наиболее часто выполняются следующие пластические операции: коррекция носа (это хирургическая операция, которая исправляет врожденные или приобретенные дефекты носа), подбородка и ушей, подтяжка кожи лица, лба и шеи, блефаропластика, пластика бровей, коррекция губ, инъекции с применением ботокса; липосакция в области живота и талии, увеличение, уменьшение и коррекция груди, омоложение рук; увеличение ягодиц, липосакция в зоне «Галифе», изменение формы малых и больших половых губ и т.д.
    p Наиболее часто выполняются следующие пластические операции: коррекция носа (это хирургическая операция, которая исправляет врожденные или приобретенные дефекты носа), подбородка и ушей, подтяжка кожи лица, лба и шеи, блефаропластика, пластика бровей, коррекция губ, инъекции с применением ботокса; липосакция в области живота и талии, увеличение, уменьшение и коррекция груди, омоложение рук; увеличение ягодиц, липосакция в зоне «Галифе», изменение формы малых и больших половых губ и т.д.
block detail-footer
  .detail__footer
    .detail__footer-inner
      .detail__footer-title Другие новости
      .detail__footer-content
        .detail__footer-wrapper
          +new-preview("01 февраля 2022", "Ингаляционная анестезия в Центре хирургии «Персона»!")
          +new-preview("01 февраля 2022", "Ингаляционная анестезия в Центре хирургии «Персона»!")
          +new-preview("01 февраля 2022", "Ингаляционная анестезия в Центре хирургии «Персона»!")
        +link("Все статьи", true, "button, right")
block footer
  +footer("dark")