extends ../pug/template-light.pug

block meta
  title Званцева Светлана Александрова
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href="")

block detail-top
  .detail__top
    .detail__top-inner
      +link("Операции", true, "left")
      .detail-surgeon__img 
        img(src="img/surgeon.png", alt="")
      .detail-surgeon__title
        h1.h1 Званцева Светлана Александрова
      .detail-surgeon__desc 
        p Главный врач центра пластической хирургии и эндоскопии «Персона», кандидат медицинских наук, врач акушер-гинеколог высшей категории
        span Стаж работы: <b>22 года</b>
block aside
  .detail__aside
    +link("Записаться на прием", true, 'right')   
block content
  +tabs(["Опыт","Видео","Операции","Отзывы","Сертификаты"])
    .tabs__content-block
      .detail__inner
        h2 Образование
        p 2001 г. — Нижегородская государственная медицинская академия. Клиническая ординатура по акушерству и гинекологии.
        p 2005 г. — Сертификация по курсу «Современные технологии в диагностике и лечении гинекологических заболеваний» в НЦ АГ и П РАМН. (г. Москва).
        p 2006 г. — Специализация по гистероскопии и эндоскопической гинекологии в Научном центре акушерства, гинекологии и перинатологии РАМН (г. Москва).
        p 2008 г. — Повышение квалификации по гистероскопии, гистерорезектоскопии и трансцервикальной эндохирургии при Научном центре акушерства, гинекологии и перинатологии им. В.И. Кулакова (г. Москва).
        p 2010 г. — Награждён Благодарственным письмом от Администрации города Н. Новгорода за вклад в социально-экономическое развитие в сфере здравоохранения.
        p 2011 г. — сертификация по курсу «Оперативная гинекология — новые технологии» в НИИ акушерства и гинекологии им. Д.О. Отта. СЗО РАМН (г. Санкт — Петербург).
        p 2011 г. — сертификация по курсу «Новые эндоскопические технологии в диагностике и лечении гинекологических заболеваний» в НЦ АГ и П РАМН. (г. Москва).
        p 2012 г. — Повышение квалификации по эндоскопической гинекологии в Европейском центре лапароскопической хирургии (CICE) (г. Клермон-Ферран, Франция).
        h2 Опыт работы:
        p 2001 г. — 2002 г. — ОКБ им. Семашко — интернатура.
        p 2003 г. — МЛПУ ПБО Городская больница № 33 — врач акушер-гинеколог, оперирующий хирург.
        p 2012 г. — Центр акушерства и гинекологии «Персона».
        h2 Владеет методиками:
        p Лапароскопия, гистерорезектоскопия, гистероскопия, оперативная гинекология — оперирующий хирург.
    .tabs__content-block
      .detail__inner
        .youtube
          a(href="https://www.youtube.com/watch?v=oabjND9QW8Q" data-fancybox data-type="iframe") 
          span Процедуры FaceTite и BodyTite
        .youtube
          a(href="https://www.youtube.com/watch?v=oabjND9QW8Q" data-fancybox data-type="iframe") 
          span Процедуры FaceTite и BodyTite
        .youtube
          a(href="https://www.youtube.com/watch?v=oabjND9QW8Q" data-fancybox data-type="iframe") 
          span Процедуры FaceTite и BodyTite
  
        
    .tabs__content-block
      .detail__dropdown
        +dropdown("Пластическая хирургия")
          +link-desc("Маммопластика с увеличением груди имплантами")  Это группа операций, которые устраняют возрастные изменения век. Пластика век дает стойкий эффект, омолаживает и делает взгляд более легким.
          +link-desc("Подтяжка груди (мастопексия)")  Это операция по исправлению эстетических недостатков ушей.
          +link-desc("Уменьшение груди (редукционная маммопластика)") Это хирургическая операция, которая исправляет врожденные или приобретенные дефекты носа.
          +link-desc("Реконструктивная маммопластика после операций") Это операция, устраняющая возрастные изменения век. Пластика век дает стойкий эффект, омолаживает и делает взгляд более легким.
        +dropdown("Гинекология")
          +link-desc("Маммопластика с увеличением груди имплантами")  Это группа операций, которые устраняют возрастные изменения век. Пластика век дает стойкий эффект, омолаживает и делает взгляд более легким.
          +link-desc("Подтяжка груди (мастопексия)")  Это операция по исправлению эстетических недостатков ушей.
          +link-desc("Уменьшение груди (редукционная маммопластика)") Это хирургическая операция, которая исправляет врожденные или приобретенные дефекты носа.
          +link-desc("Реконструктивная маммопластика после операций") Это операция, устраняющая возрастные изменения век. Пластика век дает стойкий эффект, омолаживает и делает взгляд более легким.
        +dropdown("Общая хирургия")
          +link-desc("Маммопластика с увеличением груди имплантами")  Это группа операций, которые устраняют возрастные изменения век. Пластика век дает стойкий эффект, омолаживает и делает взгляд более легким.
          +link-desc("Подтяжка груди (мастопексия)")  Это операция по исправлению эстетических недостатков ушей.
          +link-desc("Уменьшение груди (редукционная маммопластика)") Это хирургическая операция, которая исправляет врожденные или приобретенные дефекты носа.
          +link-desc("Реконструктивная маммопластика после операций") Это операция, устраняющая возрастные изменения век. Пластика век дает стойкий эффект, омолаживает и делает взгляд более легким.
    .tabs__content-block
      .detail__reviews
        +review()
        +review()
      .detail__link-all
        +link("Все отзывы", true, "button, right")
    .tabs__content-block
      .detail__certificates
        .detail__certificates-item
          .detail__certificates-img
            a(href="img/certificate.png", data-fancybox="certificates") 
              img(src="img/certificate.png", alt="")
          .detail__certificates-title Теория и практика применения препарата Диспорт1
        .detail__certificates-item
          .detail__certificates-img
            a(href="img/certificate.png", data-fancybox="certificates") 
              img(src="img/certificate.png", alt="")
          .detail__certificates-title Теория и практика применения препарата Диспорт
        .detail__certificates-item
          .detail__certificates-img
            a(href="img/certificate.png", data-fancybox="certificates") 
              img(src="img/certificate.png", alt="")
          .detail__certificates-title Теория и практика применения препарата Диспорт
        .detail__certificates-item
          .detail__certificates-img
            a(href="img/certificate.png", data-fancybox="certificates") 
              img(src="img/certificate.png", alt="")
          .detail__certificates-title Теория и практика применения препарата Диспорт
        .detail__certificates-item
          .detail__certificates-img
            a(href="img/certificate.png", data-fancybox="certificates") 
              img(src="img/certificate.png", alt="")
          .detail__certificates-title Теория и практика применения препарата Диспорт
        .detail__certificates-item
          .detail__certificates-img
            a(href="img/certificate.png", data-fancybox="certificates") 
              img(src="img/certificate.png", alt="")
          .detail__certificates-title Теория и практика применения препарата Диспорт