// В этом файле должны быть стили для БЭМ-блока time-popup, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.time-popup {
  $block-name: &; // #{$block-name}__element
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  height: calc((var(--vh, 1vh) * 100));
  width: 100%;
  max-width: 400px;
  @include blur(40px);
  z-index: 999;
  padding: 16px;
  @media (min-width: 400px) {
    padding: 40px;
  }
  @media (max-width: 991px) {
    max-width: none;
    background: $ui-dark;
  }
  &--show {
    animation: fadeRightLeftIn 0.5s both;
  }
  &--hide {
    animation: fadeRightLeftOut 0.5s both;
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    svg {
      --iconSize: 24px;
      width: var(--iconSize);
      height: var(--iconSize);
      @media (min-width: 400px) {
        --iconSize: 32px;
      }
    }
  }
  &__title {
    color: $f-white;
    flex-grow: 1;
    height: 100%;
    max-width: 200px;
    @include font(22px, 28px, 400);
    @media (min-width: 400px) {
      max-width: 150px;
      @include font(40px, 48px, 400);
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media (min-width: 400px) {
      gap: 40px;
    }
  }
  &__item {
  }
  &__day {
    color: $f-primary;
    margin-bottom: 8px;
    @include font(18px, 24px, 400);
    @media (min-width: 400px) {
      @include font(24px, 32px, 400);
    }
  }
  &__time {
    @include font(22px, 28px, 300);
    color: $f-white;
    @media (min-width: 400px) {
      @include font(40px, 48px, 300);
    }
  }
}
